/* ================================= Typography Css Start ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: hsl(var(--body-color));
  word-break: break-word;
  background-color: hsl(var(--body-bg));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  @extend .fs-16;
  font-weight: 400;
  margin: 0;
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 1.3;
  color: hsl(var(--heading-color));
  margin: 0 0 20px 0;

  @include sm-screen {
    margin: 0 0 15px 0;
  }
}

h1 {
  font-size: clamp(2.25rem, 1.6871rem + 2.8147vw, 4.5rem); //Min: 36px - Max: 72px
}

h2 {
  font-size: clamp(2rem, 1.7498rem + 1.251vw, 3rem); //Min: 32px - Max: 48px
}

h3 {
  font-size: clamp(1.75rem, 1.6249rem + 0.6255vw, 2.25rem); //Min: 28px - Max: 36px
}

h4 {
  font-size: clamp(1.5rem, 1.4375rem + 0.3127vw, 1.75rem); //Min: 24px - Max: 28px
}

h5 {
  font-size: clamp(1.25rem, 1.1875rem + 0.3127vw, 1.5rem); //Min: 20px - Max: 24px
}

h6 {
  font-size: clamp(1.125rem, 1.0937rem + 0.1564vw, 1.25rem); //Min: 18px - Max: 20px
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  transition: .2s linear;
  line-height: 1.3;
}

a {
  display: inline-block;
  transition: .2s linear;
  text-decoration: none;
  color: hsl(var(--base));
}

a:focus {
  outline: none;
}

a:hover,
a:focus {
  color: hsl(var(--base-d-200));
}

img {
  max-width: 100%;
  height: auto;
}

select {
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-select:focus {
  outline: 0;
  box-shadow: none;
}

/* ================================= Typography Css End =========================== */