/* ================================= Margin Classes Css Start ========================= */
.my-120 {
  margin-top: 120px;
  margin-bottom: 120px;

  @include md-screen {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  @include msm-screen {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.mt-120 {
  margin-top: 120px;

  @include md-screen {
    margin-top: 80px;
  }

  @include msm-screen {
    margin-top: 60px;
  }
}

.mb-120 {
  margin-bottom: 120px;

  @include md-screen {
    margin-bottom: 80px;
  }

  @include msm-screen {
    margin-bottom: 60px;
  }
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;

  @include md-screen {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @include msm-screen {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.mt-60 {
  margin-top: 60px;

  @include md-screen {
    margin-top: 40px;
  }

  @include msm-screen {
    margin-top: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;

  @include md-screen {
    margin-bottom: 40px;
  }

  @include msm-screen {
    margin-bottom: 30px;
  }
}
/* ================================= Margin Classes Css End =========================== */