<!-- ======================= About Us Section Start ========================== -->
<section class="about-us py-120 bg-pattern bg-pattern-top-left">
    <div class="container custom--container">
        <div class="row">
            <div class="col-md-6">
                <div class="h-100 flex-center">
                    <div class="about-us__content">
                        <div class="section-heading mb-less style-left">
                            <p class="section-heading__subtitle">About Us</p>
                            <h2 class="section-heading__title">Welcome To New york City</h2>
                        </div>
                        <h6 class="about-us__subheading">
                            Finding Great Properties For Investment
                        </h6>
                        <div class="about-us__desc">
                            <p>
                                The first tip to finding great properties for investment is to use the yellow page. This is a phone directory that lists every type of business in your area. You can use this to find businesses in your area that may be for sale or renting.
                            </p>
                            <p>
                                Our mission is to empower the world to build wealth through modern real estate investing.
                            </p>
                        </div>
                        <a class="btn btn--base" href="#" role="button">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="d-flex justify-content-start justify-content-lg-end">
                    <div class="about-us__wrapper">
                        <img class="about-us__thumb" src="assets/images/thumbs/about-us-thumb.jpg" alt="">
                        <div class="floating-card floating-card--one">
                            <div class="floating-card__content">
                                <h3 class="floating-card__title">
                                    20.36<span>%</span>
                                </h3>
                                <p class="floating-card__text">
                                    Average Return Upto
                                </p>
                            </div>
                        </div>

                        <div class="floating-card floating-card--two">
                            <div class="floating-card__content">
                                <h3 class="floating-card__title">
                                    3136<span>%</span>
                                </h3>
                                <p class="floating-card__text">
                                    Investors
                                </p>
                            </div>
                            <img class="floating-card__thumb" src="assets/images/thumbs/floating-card-investor-avatars.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
<!-- ======================= About Us Section End ============================ -->