<aside id="blog-page-sidebar" class="blog-page-sidebar">
    <!-- For medium devices -->
    <div class="blog-page-sidebar__top">
        <button class="close-btn" type="button">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="blog-page-sidebar__block">
        <form class="search-form" action="">
            <div class="input-group">
                <input class="form--control form--control-lg" type="text" placeholder="Search">
                <button class="btn btn--base" type="button">
                    <i class="las la-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="blog-page-sidebar__block">
        <h5 class="title">Popular Categories</h5>
        
        <ul class="category-list">
            <li class="category-list__item active">
                <span class="name">Commercial Real Estate</span>
                <span class="total">(35)</span>
            </li>
            <li class="category-list__item">
                <span class="name">Crown Land</span>
                <span class="total">(04)</span>
            </li>
            <li class="category-list__item">
                <span class="name">Building</span>
                <span class="total">(10)</span>
            </li>
            <li class="category-list__item">
                <span class="name">Construction</span>
                <span class="total">(15)</span>
            </li>
            <li class="category-list__item">
                <span class="name">Luxury Real Estate</span>
                <span class="total">(25)</span>
            </li>
        </ul>
    </div>
    <div class="blog-page-sidebar__block">
        <h5 class="title">Popular Tag</h5>

        <ul class="tag-list">
            <li class="tag-list__item">Realest</li>
            <li class="tag-list__item">House</li>
            <li class="tag-list__item">Building</li>
            <li class="tag-list__item">Business</li>
            <li class="tag-list__item">Room</li>
            <li class="tag-list__item">Property</li>
            <li class="tag-list__item">Investment</li>
            <li class="tag-list__item">Room</li>
            <li class="tag-list__item">Invest</li>
            <li class="tag-list__item">Business</li>
        </ul>
    </div>
    <div class="blog-page-sidebar__block">
        <h5 class="title">Popular Posts</h5>

        <div class="blog-page__cards">
            <div class="blog-page-card">
                <div class="blog-page-card__thumb">
                    <a href="#">
                        <img src="assets/images/thumbs/sidebar-card-img-1.jpg" alt="">
                    </a>
                </div>
                <div class="blog-page-card__content">
                    <h6 class="title"><a href="#">What Is Turn Key Real Estate Investing?</a></h6>
                    <div class="date">
                        <i class="far fa-calendar"></i>
                        <span>Fri, 15 Sep 2023</span>
                    </div>
                </div>
            </div>
            <div class="blog-page-card">
                <div class="blog-page-card__thumb">
                    <a href="#">
                        <img src="assets/images/thumbs/sidebar-card-img-2.jpg" alt="">
                    </a>
                </div>
                <div class="blog-page-card__content">
                    <h6 class="title"><a href="#">How to Make Better Real Estate Investment</a></h6>
                    <div class="date">
                        <i class="far fa-calendar"></i>
                        <span>Fri, 15 Sep 2023</span>
                    </div>
                </div>
            </div>
            <div class="blog-page-card">
                <div class="blog-page-card__thumb">
                    <a href="#">
                        <img src="assets/images/thumbs/sidebar-card-img-3.jpg" alt="">
                    </a>
                </div>
                <div class="blog-page-card__content">
                    <h6 class="title"><a href="#">Ten Important Tips For Launching Your Re...</a></h6>
                    <div class="date">
                        <i class="far fa-calendar"></i>
                        <span>Fri, 15 Sep 2023</span>
                    </div>
                </div>
            </div>
            <div class="blog-page-card">
                <div class="blog-page-card__thumb">
                    <a href="#">
                        <img src="assets/images/thumbs/sidebar-card-img-4.jpg" alt="">
                    </a>
                </div>
                <div class="blog-page-card__content">
                    <h6 class="title"><a href="#">What Is Turn Key Real Estate Investing?</a></h6>
                    <div class="date">
                        <i class="far fa-calendar"></i>
                        <span>Fri, 15 Sep 2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>