<aside id="blog-sidebar" class="blog-sidebar">
    <!-- For medium devices -->
    <div class="blog-sidebar__top">
        <button class="close-btn" type="button">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="blog-sidebar__block">
        <form class="search-form" action="">
            <div class="input-group">
                <input class="form--control form--control-lg" type="text" placeholder="Search">
                <button class="btn btn--base" type="button">
                    <i class="las la-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="blog-sidebar__block">
        <h5 class="blog-sidebar__title">Popular Categories</h5>
        
        <ul class="category-list">
            <li class="category-list__item">
                <a href="#" class="category-list__link active">
                    <span class="name">Commercial Real Estate</span>
                    <span class="total">(35)</span>
                </a>
            </li>
            <li class="category-list__item">
                <a href="#" class="category-list__link">
                    <span class="name">Crown Land</span>
                    <span class="total">(04)</span>
                </a>
            </li>
            <li class="category-list__item">
                <a href="#" class="category-list__link">
                    <span class="name">Building</span>
                    <span class="total">(10)</span>
                </a>
            </li>
            <li class="category-list__item">
                <a href="#" class="category-list__link">
                    <span class="name">Construction</span>
                    <span class="total">(15)</span>
                </a>
            </li>
            <li class="category-list__item">
                <a href="#" class="category-list__link">
                    <span class="name">Luxury Real Estate</span>
                    <span class="total">(25)</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="blog-sidebar__block">
        <h5 class="blog-sidebar__title">Popular Tag</h5>

        <ul class="tag-list">
            <li class="tag-list__item"><a href="#" class="tag-list__link">Realest</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">House</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">Building</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">Business</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">Room</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">Property</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">Investment</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">Room</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">Invest</a></li>
            <li class="tag-list__item"><a href="#" class="tag-list__link">Business</a></li>
        </ul>
    </div>
    <div class="blog-sidebar__block">
        <h5 class="blog-sidebar__title">Popular Posts</h5>
        
        <div class="blog-sidebar__popular-blogs">
            <div class="popular-blog">
                <div class="popular-blog__thumb">
                    <a href="#">
                        <img src="assets/images/thumbs/sidebar-card-img-1.jpg" alt="">
                    </a>
                </div>
                <div class="popular-blog__content">
                    <h6 class="popular-blog__title"><a href="#">What Is Turn Key Real Estate Investing?</a></h6>
                    <div class="popular-blog__date">
                        <i class="far fa-calendar"></i>
                        <span>Fri, 15 Sep 2023</span>
                    </div>
                </div>
            </div>
            <div class="popular-blog">
                <div class="popular-blog__thumb">
                    <a href="#">
                        <img src="assets/images/thumbs/sidebar-card-img-2.jpg" alt="">
                    </a>
                </div>
                <div class="popular-blog__content">
                    <h6 class="popular-blog__title"><a href="#">How to Make Better Real Estate Investment</a></h6>
                    <div class="popular-blog__date">
                        <i class="far fa-calendar"></i>
                        <span>Fri, 15 Sep 2023</span>
                    </div>
                </div>
            </div>
            <div class="popular-blog">
                <div class="popular-blog__thumb">
                    <a href="#">
                        <img src="assets/images/thumbs/sidebar-card-img-3.jpg" alt="">
                    </a>
                </div>
                <div class="popular-blog__content">
                    <h6 class="popular-blog__title"><a href="#">Ten Important Tips For Launching Your Re...</a></h6>
                    <div class="popular-blog__date">
                        <i class="far fa-calendar"></i>
                        <span>Fri, 15 Sep 2023</span>
                    </div>
                </div>
            </div>
            <div class="popular-blog">
                <div class="popular-blog__thumb">
                    <a href="#">
                        <img src="assets/images/thumbs/sidebar-card-img-4.jpg" alt="">
                    </a>
                </div>
                <div class="popular-blog__content">
                    <h6 class="popular-blog__title"><a href="#">What Is Turn Key Real Estate Investing?</a></h6>
                    <div class="popular-blog__date">
                        <i class="far fa-calendar"></i>
                        <span>Fri, 15 Sep 2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>