<article class="card blog--card">
    <a class="card-img" href="blog-details.html">
        <img class="card-img" src="@@card-img" alt="">
    </a>

    <div class="card-body">
        <div class="card-date">
            <h4 class="day">04</h4>
            <span class="month">Jun</span>
        </div>
        <ul class="card-meta">
            <li class="card-meta__item">
                <i class="fas fa-comment"></i>
                <span class="card-meta__text">3 Comments</span>
            </li>
        </ul>
        <h4 class="card-title">
            <a href="blog-details.html">@@card-title</a>
        </h4>    
        <a class="btn btn--sm btn--base" href="blog-details.html">Read More</a>
    </div>
</article>