<!-- ==================== Breadcrumb Start Here ================== -->
<section class="breadcrumb bg-img" data-background-image="assets/images/thumbs/breadcrumb-bg.jpg">
    <div class="container custom--container">
        <div class="breadcrumb__wrapper">
            <h3 class="breadcrumb__title">@@breadcrumbText</h3>
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a href="index.html" class="breadcrumb__link"> 
                        <i class="las la-home"></i> Home
                    </a> 
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__text">
                        @@breadcrumbText 
                    </span> 
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->