<!-- ==================== Header Start Here ==================== -->
<header class="header" id="header">
    <div class="container custom--container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo" href="index.html">
                <img src="assets/images/logo/logo.png" alt="">
            </a>

            <button class="navbar-toggler header-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-expanded="false">
                <span id="hiddenNav">
                    <i class="las la-bars"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav nav-menu ms-auto align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="property.html">Property</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blogs.html">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>

                <div class="navbar-actions">
                    <!-- <div class="language-box">
                        <span class="icon"><i class="fas fa-globe"></i></span>
                        <select name="" id="" class="form-select">
                            <option value="">EN</option>
                            <option value="">BN</option>
                        </select>
                    </div> -->
                    <a href="login.html" class="btn btn--base">Login</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->