<article class="card property-horizontal--card">
    <a class="card-img card-img--lg d-none d-sm-block" href="property-details.html">
        <img src="@@card-img" alt="">
    </a>

    <div class="card-body">
        <div class="card-body-top">
            <div class="card-wrapper">
                <h4 class="card-title">
                    <a href="property-details.html">
                        @@card-title
                    </a>
                </h4>

                <a class="card-img card-img--sm d-sm-none" href="property-details.html">
                    <img src="@@card-img" alt="">
                </a>
            </div>

            <ul class="card-meta card-meta--one">
                <li class="card-meta__item">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="text">Jakarta Barat, USA</span>
                </li>
                <li class="card-meta__item">
                    <i class="fas fa-hotel"></i>
                    <span class="text">4 bed, 2 Kitchen, air conditioner, Television</span>
                </li>
            </ul>
        </div>

        <div class="card-body-middle">
            <div class="card-progress">
                <div class="card-progress__bar">
                    <div class="card-progress__thumb" style="width: 60%;"></div>
                </div>

                <span class="card-progress__label fs-12">
                    159 Investors | $ 1,94,196 (64.73%)
                </span>
            </div>

            <ul class="card-meta card-meta--two">
                <li class="card-meta__item">
                    <div class="text">25% (Fixed)</div>
                    <span class="subtext">Profit Range</span>
                </li>
                <li class="card-meta__item">
                    <div class="text">1 Months</div>
                    <span class="subtext">Return Interval</span>
                </li>

                <li class="card-meta__item">
                    <div class="text">Yes</div>
                    <span class="subtext">Capital Back</span>
                </li>
            </ul>
        </div>

        <div class="card-body-bottom">
            <a class="btn btn--sm btn--base" href="property-details.html" role="button">Invest Now</a>
            <span class="card-price">$1000 - $3000</span>
        </div>
    </div>
</article>