/* ==================== Header Start Here ===================== */
.header {
    position: relative;
    padding: 15px 0;
    background-color: hsl(var(--white));
    box-shadow: 49px 18px 31px -13px rgba(147, 131, 128, 0.05); 
    z-index: 1000;

    @include md-screen {
        padding: 10px 0;
        max-height: 101vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
        }
    }

    &.fixed-header {
        width: 100%;
        background-color: hsl(var(--white));
        position: sticky;
        top: 0px;
        left: 0px;
        right: 0px;
        animation: slide-down .8s;
        transition: .3s linear;
    }
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: auto;

    &.logo {
        img {
            max-width: 70px;
            max-height: 50px;
            object-fit: cover;
        }
    }
}

.navbar-toggler {
    &.header-button {
        width: auto;
        border-color: transparent;
        color: hsl(var(--black)/.8);
        background: transparent !important;
        padding: 0 !important;
        border: 0 !important;
        border-radius: 0 !important;
        transition: .15s ease-in-out;
        @include fs-30;

        &:focus {
            box-shadow: none !important;
        }

        &[aria-expanded="true"] i::before {
            content: "\f00d";
        }
    }
}

.navbar-actions {
    display: flex;
    align-items: center;
    
    &--sm {
        display: none;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        padding: 12px 0;
        border-top: 1px solid hsl(var(--black)/.1);

        @include xsm-screen {
            display: flex;
        }
    }

    &--md {
        margin-left: 56px;
        
        @include lg-screen {
            margin-left: 40px;
        }

        @include md-screen { 
            margin-left: 0px;
            margin-right: 24px;
        }

        @include xsm-screen {
            display: none;
        }

        .language-box {

            &::after {
                content: '';
                width: 1px;
                height: 20px;
                margin: 0px 24px 0px calc(24px - 5px); //remove the parent gap from margin-left
                display: inline-block;
                background-color: hsl(var(--black)/.15);
            }
        }
    }
}

.language-box {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: hsl(var(--black)/.7);
        flex-shrink: 0;
        background-color: hsl(var(--black)/0.08);
        
        @include md-screen {
            width: 35px;
            height: 35px;
            @include fs-14;
        }
    }

    .form-select {        
        width: 45px;
        border-radius: 0px;
        border: none;
        padding: 2px 0px;
        background-color: transparent;
        font-weight: 500;
        background-position: right -2px center;
    }
}

@media (min-width: 992px) {
    .nav-menu {
        padding-top: 0;
        padding-bottom: 0;

        .nav-item {
            position: relative;

            &:not(:last-child) {
                margin-right: 40px;

                @include lg-screen {
                    margin-right: 32px;
                }
            }

            &.active {
                .nav-link {
                    &::before {
                        background-color: hsl(var(--base));
                    }
                }
            }
        }

        .nav-link {
            @include fs-16;
            font-weight: 500;
            color: hsl(var(--black)/.8) !important;
            padding: 0px !important;
            cursor: pointer;
            transition: .3s;
            white-space: nowrap;
            position: relative; 

            &::before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: transparent;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -4px;
                margin: auto;
            }

            &:hover,
            &:focus {
                color: hsl(var(--base)) !important;
            }
        }
    }
}

@include md-screen {
    .body-overlay.show {
        visibility: visible;
        opacity: 1;
    }

    .navbar {
        justify-content: start;
    }

    .nav-menu {
        margin-top: 30px;
    }

    .nav-item {
        text-align: left;
        display: block;
        position: relative;
        margin: 0;

        &:not(:last-child) {
            border-bottom: 1px solid hsl(var(--black) / .1);
        }

        &.active .nav-link {
            color: hsl(var(--base));
        }
    }

    .nav-link {
        @include fs-16;
        font-weight: 500;
        display: inline-block;
        color: hsl(var(--black)/.8);
        padding: 12px 12px 12px 0 !important;
        
        &:hover,
        &:focus {
            color: hsl(var(--base));
        }
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-150%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* ==================== Header End Here ======================= */