/* ================================= Range Slider Css Start ===================== */
.range-slider {

    &__slide {
        border-width: 0px !important;
        background-color: hsl(var(--base)/.15);
        margin-bottom: 28px;
    }

    .ui-slider-horizontal {
        height: 3px;
    }

    .ui-widget-header {
        background-color: hsl(var(--base));
    }

    .ui-slider-handle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
        background-color: hsl(var(--base)) !important;
        border-color: hsl(var(--base)) !important;
        outline: none;

    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-group {
            width: 40%;
            flex-wrap: nowrap;
        }

        .input-group-text {
            color: hsl(var(--gray));
            border-color: hsl(var(--base));
            background-color: transparent;
            border-radius: 4px;
            padding: 0px 6px;
        }
        
        .form--control {
            font-weight: 500;
            border: 1px solid hsl(var(--base)) !important;
            background-color: transparent !important;
            padding-top: 6px;
            padding-bottom: 6px;
            border-radius: 4px;
        }
    }

}
/* ================================= Range Slider Css End ======================= */
