/* ================================= Social Icon Css Start ======================== */
.social-list {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 26px;
    
    @include xsm-screen {
        gap: 18px;
    }

    &__link {
        width: 24px;
        height: 24px;
        color: hsl(var(--base));
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include fs-22;
    }
}
/* ================================= Social Icon Css End ======================== */