/* ================================= Accordrion Css Start =========================== */
.custom--accordion {

    .accordion-item {
        background-color: hsl(var(--white));
        border-color: transparent;
        overflow: hidden;

        &:not(:last-child) {
            border-bottom-color: hsl(var(--base)/.13);
        }
        
        &:first-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        
        &:last-of-type {
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }
    }

    .accordion-body {
        padding: 0px 20px 20px 20px;
        color: hsl(var(--body-color));
    }

    .accordion-button {
        @extend .fs-18;
        font-weight: 500;
        padding: 20px;
        color: var(--heading-color);
        background-color: transparent;
        justify-content: space-between;
        align-items: start;
        line-height: 24px;

        @include msm-screen {
            padding: 16px;
            padding-right: 30px;
        }

        &::after {
            background-image: none;
        }

        &:focus {
            box-shadow: none;
        }

        &:not(.collapsed) {
            color: hsl(var(--base));
            box-shadow: none;

            &::after {
                background-image: none;
            }
        }

        &[aria-expanded="true"],
        &[aria-expanded="false"] {
            &::after {
                content: "\f106";
                width: 26px;
                height: 26px;
                border-radius: 50%;
                color: hsl(var(--base)) !important;
                background-color: hsl(var(--base)/.13);
                font-family: "Line Awesome Free";
                font-weight: 900;
                @include fs-13;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                transform: none;

                @include msm-screen {
                    width: 20px;
                    height: 20px;
                    @include fs-12;
                }
            }
        }

        &[aria-expanded="false"] {
            &::after {
                content: "\f107";
            }
        }
    }
}
/* ================================= Accordrion Css End ============================= */