/* ================================= Button Css Start =============================== */
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: none;
    background-color: none;
    border-color: none;
}

.pill {
    border-radius: 40px;
}

.btn {
    @extend .fs-16;
    font-weight: 500;
    font-family: var(--body-font);
    color: hsl(var(--white)) !important;
    padding: 15px 30px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    line-height: 1;
    white-space: nowrap;

    @include xsm-screen {
        padding: 12px 24px;
    }


    &:hover,
    &:focus,
    &:focus-visible {
        box-shadow: none !important;
    }
    
    &--lg {
        padding: 20px 40px;
        
        @include xsm-screen {
            padding: 17px 34px;
        }
    
    }

    &--sm {
        padding: 10px 20px;
       
        @include xsm-screen {
            padding: 7px 14px;
        }
    }

    &--icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
        @extend .fs-15;
        padding: 0;
    }

    .icon {
        margin-right: 5px;
    }

    // Custom Button
    &--sidebar-open {
        display: inline-flex;
        align-items: center;
        gap: 8px;

        i {
            @include fs-22;
        }
    }
    
    &--base {
        background-color: hsl(var(--base)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--base-d-200)) !important;
            border: 1px solid hsl(var(--base-d-200)) !important;
        }
    }

    &-outline--base {
        background-color: transparent !important;
        border: 1px solid hsl(var(--base)) !important;
        color: hsl(var(--base)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--base)) !important;
            color: hsl(var(--white)) !important;
        }
    }

    &-soft--base {
        background-color: hsl(var(--base-l-900)) !important;
        border: 1px solid hsl(var(--base-l-900)) !important;
        color: hsl(var(--base)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--base)) !important;
            color: hsl(var(--white)) !important;
        }
    }

    &--primary {
        background-color: hsl(var(--primary)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--primary-d-200)) !important;
            border: 1px solid hsl(var(--primary-d-200)) !important;
        }
    }

    &-outline--primary {
        background-color: transparent !important;
        border: 1px solid hsl(var(--primary)) !important;
        color: hsl(var(--primary)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--primary)) !important;
            color: hsl(var(--white)) !important;
        }
    }

    &--secondary {
        background-color: hsl(var(--secondary)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--secondary-d-200)) !important;
            border: 1px solid hsl(var(--secondary-d-200)) !important;
        }
    }

    &-outline--secondary {
        background-color: transparent !important;
        border: 1px solid hsl(var(--secondary)) !important;
        color: hsl(var(--secondary)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--secondary)) !important;
            color: hsl(var(--white)) !important;
        }
    }

    &--success {
        background-color: hsl(var(--success)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--success-d-200)) !important;
            border: 1px solid hsl(var(--success-d-200)) !important;
        }
    }

    &-outline--success {
        background-color: transparent !important;
        border: 1px solid hsl(var(--success)) !important;
        color: hsl(var(--success)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--success)) !important;
            color: hsl(var(--white)) !important;
        }
    }

    &--danger {
        background-color: hsl(var(--danger)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--danger-d-200)) !important;
            border: 1px solid hsl(var(--danger-d-200)) !important;
        }
    }

    &-outline--danger {
        background-color: transparent !important;
        border: 1px solid hsl(var(--danger)) !important;
        color: hsl(var(--danger)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--danger)) !important;
            color: hsl(var(--white)) !important;
        }
    }

    &--warning {
        background-color: hsl(var(--warning)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--warning-d-200)) !important;
            border: 1px solid hsl(var(--warning-d-200)) !important;
        }
    }

    &-outline--warning {
        background-color: transparent !important;
        border: 1px solid hsl(var(--warning)) !important;
        color: hsl(var(--warning)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--warning)) !important;
            color: hsl(var(--white)) !important;
        }
    }

    &--info {
        background-color: hsl(var(--info)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--info-d-200)) !important;
            border: 1px solid hsl(var(--info-d-200)) !important;
        }
    }

    &-outline--info {
        background-color: transparent !important;
        border: 1px solid hsl(var(--info)) !important;
        color: hsl(var(--info)) !important;

        &:hover,
        &:focus &:focus-visible {
            background-color: hsl(var(--info)) !important;
            color: hsl(var(--white)) !important;
        }
    }
}
/* ================================= Button Css End ================================= */