
/* ================================= Card Css Start ================================= */
.custom--card {
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
    background-color: hsl(var(--white));;
    border: transparent;
    .card-header {
        padding: 12px 24px;
        background-color: transparent;
        border-bottom: 1px solid hsl(var(--black)/.1);
        .title {
            margin-bottom: 0;
        }
    }
    .card-body {
        background-color: hsl(var(--white));
        padding: 24px;
        border-radius: 5px;
    }
    .card-footer {
        padding: 12px 24px;
        background-color: transparent;
        border-top: 1px solid hsl(var(--black)/.1);
    }
}

.property--card {
    --bs-card-border-width: 0px;
    --bs-card-border-radius: 12px;
    --bs-card-inner-border-radius: 12px;
    --bs-card-spacer-y: 32px;
    --bs-card-spacer-x: 32px;
    height: 100%;

    @include xl-screen {
        --bs-card-spacer-y: 24px;
        --bs-card-spacer-x: 24px;
    }

    @include lg-screen {
        --bs-card-spacer-y: 16px;
        --bs-card-spacer-x: 16px;
    }

    .card-img-top {
        max-height: 290px;
        overflow: hidden;        

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &.card--img-sm {
            max-height: 245px;
        }

        @include xl-screen {
            max-height: 230px !important;
        }

        @include lg-screen {
            max-height: 200px !important;
        }

        @include sm-screen {
            max-height: 180px !important;
        }
    }

    .card-body {

        &-top {
            margin-bottom: 32px;

            @include sm-screen {
                margin-bottom: 24px;
            }
        }

        &-bottom {
            display: flex;
            flex-wrap: wrap-reverse;
            align-items: center;
            justify-content: space-between;
            gap: 16px 8px;
            margin-top: 32px;
            
            @include sm-screen {
                margin-top: 24px;
            }
        }
    }

    .card-title {
        a {
            font-weight: 600;
            line-height: 150%;
            
            @supports (-webkit-line-clamp: 2) {
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                color: hsl(var(--base));
            }
        }
    }

    .card-meta--one {
        .card-meta__item {
            display: flex;
            align-items: start;
            gap: 10px;

            &:not(:last-child) {
                margin-bottom: 22px;

                @include sm-screen {
                    margin-bottom: 16px;
                }
            }

            i { 
                @include fs-18;
                color: hsl(var(--base));

                @include sm-screen {
                    @include fs-16;
                }
            }

            .text {
                @include fs-14;
                font-weight: 500;
                line-height: 1;
            }
        }
    }

    .card-progress {
        margin-bottom: 36px;
        
        @include sm-screen {
            margin-bottom: 24px;
        }

        &__bar {
            border-radius: 10px;
            background-color: hsl(var(--base-l-900));
            height: 6px;
        }

        &__thumb {
            height: 100%;
            border-radius: 10px;
            background-color: hsl(var(--base));
        }

        &__label {
            @include fs-12;
            font-weight: 500;
            line-height: 117%;
            color: hsl(var(--gray-two));
            margin-top: 10px;
        }
    }

    .card-meta--two {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include sm-screen {
            justify-content: start;
            gap: 8px 16px;
        }

        .card-meta__item {

            .text {
                @include fs-14;
                color: hsl(var(--base));
                font-weight: 700;
                line-height: 150%;
            }

            .subtext {
                color: hsl(var(--gray-two));
                @include fs-12;
                font-weight: 500;
                line-height: 150%;
            }
        }
    }

    .card-price {
        color: hsl(var(--gray-two));
        @include fs-20;
        font-weight: 700;
        line-height: 120%;
        // border: 1px solid black;

        @include xl-screen {
            @include fs-18;
        }

        @include lg-screen {
            @include fs-16;
        }
    }
}

.property-horizontal--card {
    --bs-card-border-width: 0px;
    --bs-card-border-radius: 12px;
    --bs-card-inner-border-radius: 8px;
    --bs-card-spacer-y: 26px;
    --bs-card-spacer-x: 44px;
    flex-direction: row;
    transition: .2s linear;
    
    &:hover {
        box-shadow: var(--card-horizontal-box-shadow);
    }
    
    @include md-screen {
        --bs-card-spacer-x: 24px;
    }
    
    @include msm-screen {
        --bs-card-spacer-y: 12px;
        --bs-card-spacer-x: 12px;
    }

    .card-img {
        overflow: hidden;

        &--lg {
            max-width: 552px;
            max-height: 368px;
            margin: 12px 0px 12px 12px;
            
            @include sm-screen {
                max-width: 200px;
            }
        }
        
        &--sm {
            max-width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-body {
        width: 100%;

        &-top {
            margin-bottom: 32px;
            
            @include md-screen {
                margin-bottom: 24px;
            }
        }

        &-bottom {
            border-top: 1px solid hsl(0, 0%, 54%, .2);
            margin-top: 20px;
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            @include md-screen {
                margin-top: 16px;
                padding-top: 16px;
            }
        }
    }  

    .card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-bottom: 8px;

        @include msm-screen {
            flex-wrap: wrap-reverse;
        }
    }

    .card-title {
        a {
            font-size: clamp(1.25rem, 1.1249rem + 0.6255vw, 1.75rem); //Min: 20px - Max: 28px
            font-weight: 600;
            line-height: 150%;
            margin-bottom: 0px;
            
            @supports (-webkit-line-clamp: 2) {
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover  {
                color: hsl(var(--base));
            }
        }
    }

    .card-meta--one {
        
        .card-meta__item {
            display: flex;
            align-items: start;
            gap: 0px 10px;

            &:not(:last-child) {
                margin-bottom: 36px;
                
                @include md-screen {
                    margin-bottom: 16px;
                }
            }

            i {
                color: hsl(var(--base));
                @include fs-18;

                @include sm-screen {
                    @include fs-14;
                }
            }

            .text {
                @include fs-16;
                font-weight: 500;
                color: hsl(var(--gray-two));
                line-height: 1;

                @include sm-screen {
                    @include fs-14;
                }
            }
        }
    }

    .card-progress {
        margin-bottom: 32px;
        
        @include msm-screen {
            margin-bottom: 24px;
        }

        &__bar {
            border-radius: 10px;
            background-color: hsl(var(--base-l-900));
            height: 6px;
        }

        &__thumb {
            height: 100%;
            border-radius: 10px;
            background-color: hsl(var(--base));
        }

        &__label {
            @include fs-14;
            font-weight: 500;
            line-height: 100%;
            color: hsl(var(--gray-two));
            margin-top: 10px;
        }
    }

    .card-meta--two {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include sm-screen {
            justify-content: start;
            gap: 8px 16px;
        }

        .card-meta__item {
            
            .text {
                color: hsl(var(--base));
                font-weight: 700;
                line-height: 87.5%;
            }

            .subtext {
                color: hsl(var(--gray-two));
                @include fs-14;
                font-weight: 400;
                line-height: 100%; /* 14px */
            }
        }
    }

    .card-price {
        color: hsl(var(--gray-two));
        @include fs-20;
        font-weight: 700;
        line-height: 120%;

        @include xl-screen {
            @include fs-18;
        }

        @include lg-screen {
            @include fs-16;
        }
    }
}

.blog--card {
    --bs-card-border-width: 0px;
    --bs-card-inner-border-radius: 14px;
    --bs-card-border-radius: 14px;
    --bs-card-spacer-y: 24px;
    --bs-card-spacer-x: 36px;
    transition: .2s linear;
    height: 100%;

    &:hover {
        box-shadow: var(--card-blog-box-shadow);
    }

    @include lg-screen {
        --bs-card-spacer-y: 24px;
        --bs-card-spacer-x: 24px;
    }

    @include md-screen {
        --bs-card-spacer-y: 16px;
        --bs-card-spacer-x: 16px;
    }
    
    .card-img {
        overflow: hidden;
        max-height: 384px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-date {
        width: max-content;
        background-color: hsl(var(--base-two));
        padding: 12px 20px;
        border-radius: 8px; 
        position: absolute;
        top: -60px;
        right: 40px;
        left: auto;

        @include lg-screen {
            top: -50px;
            right: 30px;
            padding: 8px 16px;
        }

        @include md-screen {
            right: 20px;
        }

        @include msm-screen {
            top: -40px;
            padding: 6px 12px;
        }

        .day {
            font-size: clamp(1rem, 0.0872rem + 1.9017vw, 1.75rem);
            color: hsl(var(--base));
            margin-bottom: 0px;
            line-height: 1;
        }

        .month {
            color: hsl(var(--white));
            font-weight: 500;
            line-height: 1;

            @include md-screen {
                @include fs-12;
            }
        }
    }

    .card-meta {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        gap: 12px;
        
        @include lg-screen {
            gap: 8px;
            margin-bottom: 8px;
        }        

        &__item {
            i {
                margin-right: 12px;
                color: hsl(var(--base));

                @include md-screen {
                    margin-right: 6px;
                }
            }
        }

        &__text {
            color: hsl(var(--gray-two));
            font-weight: 400;
            line-height: 150%;

            @include md-screen {
                @include fs-14;
            }
        }
    }

    .card-title {
        margin-bottom: 32px;

        @include lg-screen {
            margin-bottom: 24px;
        }

        @include msm-screen {
            margin-bottom: 16px;
        }
    }

    .card-title,
    .card-title a {
        font-size: clamp(1.125rem, 0.3643rem + 1.5848vw, 1.75rem); //Min: 18px - Max: 28px
        
        &:hover {
            color: hsl(var(--base));
        }

        @supports (-webkit-line-clamp: 2) {
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .card-body {
        position: relative;
    }

    .btn {
        @include md-screen {
            padding: 8px 12px;
        }
    }
}
/* ================================= Card Css End =================================== */