/* ================================= Modal Css Start ================================ */
.custom--modal {
    --bs-modal-width: 520px;

    .modal-content {
        border-width: 0px;
        background-color: hsl(var(--white));
        border-radius: 12px !important;
        padding: 32px 28px;

        @include xsm-screen {
            padding: 22px 18px;
        }
    }

    .modal-header,
    .modal-body,
    .modal-footer {
        padding: 0px;
    }

    .modal-header {
        padding-bottom: 16px;
        border-bottom: 1px solid hsl(var(--base-l-900));
    }
    
    .modal-body {
        padding-top: 16px;
    }

    .modal-footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid hsl(var(--base-l-900));
        padding-top: 16px;
        margin-top: 16px;
        
    }

    .modal-title {
        font-weight: 600;
        line-height: 120%;
    }

    .close-btn {
        width: 28px;
        height: 28px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid hsl(var(--gray));
        color: hsl(var(--gray));
        border-radius: 6px;
        @include fs-18;

        @include xsm-screen {
            width: 22px;
            height: 22px;
            @include fs-14;
        }
    }

    .modal-form {
        
        &__header,
        &__body,
        &__footer {            

            &:not(:last-child) {
                margin-bottom: 28px;
                
                @include xsm-screen {
                    margin-bottom: 18px;
                }
            }
        }

        &__footer {
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            .btn {
                width: 100%;
                border-radius: 8px;
                padding-top: 17px;
                padding-bottom: 17px;
            }
        }
        
        &__title {
            @include fs-18;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 12px;

            span {
                color: hsl(var(--base));
            }
        }

        &__desc {
            @include fs-14;
            font-weight: 400;
            line-height: 120%; /* 16.8px */
        }

        &__info {

            &-item {
                @include fs-14;
                line-height: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child) {
                    border-bottom: 1px solid hsl(var(--black-two)/.06);
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                }
            
                .label {
                    font-weight: 400;
                    color: hsl(var(--gray-two));
                }

                .value {
                    font-weight: 600;
                    color: hsl(var(--black-two));
                }
            }
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form--label {
            margin-bottom: 12px;
        }
    }
}
/* ================================= Modal Css End ================================== */

