/* ================================= Offcanvas Css Start ============================ */
.offcanvas--filter-form {
    --bs-offcanvas-padding-x: 2rem;
    
    @include xxsm-screen {
        --bs-offcanvas-padding-x: 1.5rem;
    }

    .btn-close {
        width: auto;
        height: auto;
        padding: 0px;
        margin-left: auto;
        background: none;
        @include fs-24;
        color: hsl(var(--black)/.8);
        border-radius: 0px;
        
        &:focus,
        &:hover {
            color: hsl(var(--black));
            box-shadow: none
        }
    }

    .filter-form {
        .form--control {
            background-color: #F8F8F8;
        }
    }
}
/* ================================= Offcanvas Css End ============================== */

