/* ================================= Pagination Css Start =========================== */
.pagination {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 42px;
    gap: 16px;

    @include lg-screen {
        margin-top: 36px;
    }

    @include md-screen {
        margin-top: 28px;
    }

    @include sm-screen {
        margin-top: 20px;
    }

    .page-item {
        &.active {
            .page-link {
                background-color: hsl(var(--base));
                color: hsl(var(--white));
                border-color: hsl(var(--base));
            }
        }

        .page-link {
            width: 58px;
            height: 53px;
            border-radius: 4px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid hsl(var(--black)/.08); 
            color: hsl(var(--body-color));
            background-color: hsl(var(--white));
            font-weight: 600;
            line-height: 150%;

            @include lg-screen {
                width: 48px;
                height: 43px;
            }

            @include md-screen {
                width: 40px;
                height: 35px;
            }
            
            &:hover {
                color: hsl(var(--white));
                background-color: hsl(var(--base));
                border-color: hsl(var(--base));
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}
/* ================================= Pagination Css End ============================= */