/* =========================================== Account Css Start =========================*/
.account {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    &-inner {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
}


.account-form {
    border-radius: 12px;
    background-color: hsl(var(--white));
    padding: 40px 30px;

    @include msm-screen {
        padding: 32px 16px;
    }

    &__header,
    &__body,
    &__footer {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);        
        
        &:not(:last-child) {
            margin-bottom: 24px;

            @include xsm-screen {
                margin-bottom: 16px;
            }
        }
    }
 
    &__footer {
        margin-top: 24px;
    }

    &__title {
        color: hsl(var(--black));
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;
    }

    &__subtitle {
        font-weight: 500;
        text-align: center;
        a {
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }
    }

    &__social-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 32px;
        
        @include xsm-screen {
            margin-top: 20px;
        }
    }

    &__social-btn {
        flex-shrink: 0;
        display: inline-block;

        .icon {
            width: 34px;
            height: 34px;

            @include xsm-screen {
                width: 24px;
                height: 24px;
            }
        }

    }

    &__forgot-pass {
        @include fs-14;
        font-weight: 500;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    .form-check-label { 
        @include xxsm-screen {
            padding-left: 6px;
        }
        
        a {
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }
    }
}
/* ============================================ Account Css End ====================================*/