/* ================================= Blog Details Page Css Start ================ */
.blog-details {
    
    &__inner {
        border-radius: 14px;
        overflow: hidden;
        background-color: hsl(var(--white));
    }

    &__thumb {
        width: 100%;
        height: 100%;
        max-height: 412px;
        object-fit: cover;
    }

    &__content {
        position: relative;
        padding: 32px;

        @include sm-screen {
            padding: 24px;
        }

        @include msm-screen {
            padding: 16px;
        }
    }

    &__date {
        width: 76px;
        height: 76px;
        border-radius: 8px;
        background-color: hsl(var(--base-two));
        position: absolute;
        top: -38px;
        right: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include sm-screen {
            width: 60px;
            height: 60px;
            top: -30px;
            right: 24px;
        }

        .day {
            color: hsl(var(--base));
            text-align: center;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 0px;

            @include sm-screen {
                @include fs-22;
            }
        }

        .month {
            color: hsl(var(--white));
            text-align: center;
            font-weight: 500;
            line-height: 120%;

            @include sm-screen {
                @include fs-12;
            }
        }
    }

    &__title {
        font-size: clamp(1.5rem, 1.4375rem + 0.3127vw, 1.75rem);
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 24px;

        @include sm-screen {
            margin-bottom: 12px;
        }
    }

    &__desc {
        p {
            @include fs-18;
            line-height: 160%;

            &:not(:last-child) {
                margin-bottom: 28px;
            }

            @include sm-screen {
                @include fs-16;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
    }

    &__comments {
        margin-top: 60px;
        
        @include md-screen {
            margin-top: 30px;
        }

        .blog-comment {
            max-width: 580px;
        }
    }
}

.blog-details-meta {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;

    @include sm-screen {
        gap: 8px;
        margin-bottom: 12px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 12px;

        @include msm-screen {
            @include fs-14;
            gap: 8px;
        }

        i {
            color: hsl(var(--base));
        }

        .text {
            color: hsl(var(--gray-two));
            line-height: 150%;
        }
    }
}
/* ================================= Blog Details Page Css End ================== */