/* ================================= Blog Details Page Css Start ================ */
.blog-details {
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    box-shadow: 0px 2px 15px hsl(var(--white) /.25);

    &__inner {
        border-radius: 14px;
        overflow: hidden;
        background-color: hsl(var(--white));
    }

    &__thumb {
        width: 100%;
        height: 100%;
        max-height: 412px;
        object-fit: cover;
    }

    &__content {
        position: relative;
        padding: 32px;

        @include sm-screen {
            padding: 24px;
        }

        @include msm-screen {
            padding: 16px;
        }
    }

    &__date {
        width: 76px;
        height: 76px;
        border-radius: 8px;
        background-color: hsl(var(--base-two));
        position: absolute;
        top: -38px;
        right: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include sm-screen {
            width: 60px;
            height: 60px;
            top: -30px;
            right: 24px;
        }

        .day {
            color: hsl(var(--base));
            text-align: center;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 0px;

            @include sm-screen {
                @include fs-22;
            }
        }

        .month {
            color: hsl(var(--white));
            text-align: center;
            font-weight: 500;
            line-height: 120%;

            @include sm-screen {
                @include fs-12;
            }
        }
    }

    &__title {
        font-size: clamp(1.5rem, 1.4375rem + 0.3127vw, 1.75rem);
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 24px;

        @include sm-screen {
            margin-bottom: 12px;
        }
    }

    &__desc {
        p {
            @include fs-18;
            line-height: 160%;

            &:not(:last-child) {
                margin-bottom: 28px;
            }

            @include sm-screen {
                @include fs-16;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
    }

    &__comments {
        margin-top: 60px;
        
        @include md-screen {
            margin-top: 30px;
        }

        .blog-comment {
            max-width: 580px;
        }
    }
}

.blog-details-meta {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;

    @include sm-screen {
        gap: 8px;
        margin-bottom: 12px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 12px;

        @include msm-screen {
            @include fs-14;
            gap: 8px;
        }

        i {
            color: hsl(var(--base));
        }

        .text {
            color: hsl(var(--gray-two));
            line-height: 150%;
        }
    }
}

.blog-comment {

    &-list {
        &__item {
            display: flex;
            align-items: start;
            gap: 24px;
            
            @include msm-screen {
                gap: 16px;
            }

            &:not(:last-child) {
                margin-bottom: 36px;
                
                @include msm-screen {
                    margin-bottom: 18px;
                }
            }
        }
    }

    &-form {
        margin-top: 40px;

        &__title {
            line-height: 160%;
            margin-bottom: 24px;
        }

        .form--control {
            min-height: 165px;
            padding: 20px 16px;
            background-color: hsl(var(--white));
        }
    }

    &__title {
        line-height: 160%;
        margin-bottom: 40px;
        
        @include msm-screen {
            margin-bottom: 20px;
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        max-width: 85px;
        max-height: 85px;
        border-radius: 50%;
        flex-shrink: 0; 

        @include msm-screen {
            max-width: 55px;
            max-height: 55px;
        }
    }

    &__content {}

    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }

    &__name {
        max-width: calc(100% - 130px);
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        line-height: 160%;
        margin-bottom: 0px;
    }

    &__date {
        @include fs-14;
        font-weight: 500;
        line-height: 150%;
        color: hsl(var(--base));
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__msg {
        @include fs-18;
        line-height: 160%;

        @include msm-screen {
            @include fs-16;
        }
    }
}
/* ================================= Blog Details Page Css End ================== */