/* ================================= Property Page Css Start ==================== */
.property-page {
    &-inner {
        display: flex;
        align-items: start;
        gap: 0px 56px;

        @include lg-screen {
            gap: 0px 28px;
        }
    }
    
    &-sidebar {
        width: 310px;
        flex-shrink: 0;

        @include lg-screen {
            width: 250px;
        }

        @include md-screen {
            display: none;
        }
    }
    
    &-content {
        width: 100%;
    }
}

.property-cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;

    @include lg-screen {
        gap: 24px;
    }

    @include msm-screen {
        grid-template-columns: auto;
    }
}
/* ================================= Property Page Css End ====================== */